<div style="text-align: center;">
  <h1 class="title "> CRUD ANGULAR</h1>
  <img
    width="200"
    alt="Angular Logo"
    src="../assets/db_logo.png"
    style="margin: 10px;"
  />
</div>

<!-- Formulario que interactura con MySQL y SPRING BOOT -->
<div class="container " style="margin-top: 20px; margin-bottom: 20px; text-align: center;">
  <button (click)="Listar()" class="btn btn-info">Listar</button>
  <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>
</div>

<router-outlet></router-outlet>
